<html lang="es">

    <head>
        <meta charset="utf-8">
        <title>Bienvenido/a a Nutrikids!</title>
        <link rel="stylesheet" href="../static/styles/style.css">

    </head>

    <body>
        <div class="HeaderInico">
            <div class="logo"><img src="../static/Images/Logo.png"  alt="Logo" width="80" height="80"> <h1>NutriKids</h1></h1></div>
                <div class="slogan"><h6>infancias bien nutridas</h6></div>
            <div class="IconoUsuario">
                <img src="../static/Images/e622dea4-83a5-4591-9097-54ee670559da.png">
            </div>
        </div>

        <div class="TarjetaPedirCita">
            <img src="../static/Images/Cita.png" alt="Cita">
            <h2>
                Agendar un turno
            </h2>
        </div>
        <div class="paciente">
            <img src="../static/Images/Estadistica.png" alt="paciente">
            <h2>
                Datos del paciente
            </h2>
        </div>

    </body>