<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anamnesis Alimentaria</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>

<body>
    <div class="anamnesisDiv">
  <form id="formAnamnesis" method="POST">

      <h1>Anamnesis Alimenticia</h1>

      <div class="form-item">
        <label for="Leche">Leche:</label>
        <input type="checkbox" name="Leche" id="Leche">
        
      </div>

      <div class="form-item">
        <label for="Yogurt">Yogurt:</label>
        <input type="checkbox" name="Yogurt" id="Yogurt">
      </div>

      <div class="form-item">
        <label for="Quesos">Quesos:</label>
        <input type="checkbox" name="Quesos" id="Quesos">
      </div>

      <div class="form-item">
        <label for="Carnes">Carnes:</label>
        <input type="checkbox" name="Carnes" id="Carnes">
      </div>
      
      <div class="form-item">
        <label for="Huevos">Huevos:</label>
        <input type="checkbox" name="Huevos" id="Huevos">
      </div>
      
      <div class="form-item">
        <label for="Hortalizas">Hortalizas:</label>
        <input type="checkbox" name="Hortalizas" id="Hortalizas">
      </div>
      
      <div class="form-item">
        <label for="Frutas">Futas:</label>
        <input type="checkbox" name="Frutas" id="Frutas">
      </div>
      
      <div class="form-item">
        <label for="Panificados">Panificados:</label>
        <input type="checkbox" name="Panificados" id="Panificados">
      </div>
      
      <div class="form-item">
        <label for="Pastas">Pastas:</label>
        <input type="checkbox" name="Pastas" id="Pastas">
      </div>
      
      <div class="form-item">
        <label for="Azucar">Azucar:</label>
        <input type="checkbox" name="Azucar" id="Azucar">
      </div>
      
      <div class="form-item">
        <label for="Edulcorante">Edulcorante:</label>
        <input type="checkbox" name="Edulcorante" id="Edulcorante">
      </div>

      <div class="form-item">
        <label for="Mermeladas">Mermeladas:</label>
        <input type="checkbox" name="Mermeladas" id="Mermeladas">
      </div>

      <div class="form-item">
        <label for="DulceDeLeche">Dulece de leche:</label>
        <input type="checkbox" name="DulceDeLeche" id="DulceDeLeche">
      </div>
      
      <div class="form-item">
        <label for="Fritos">Fritos:</label>
        <input type="checkbox" name="Fritos" id="Fritos">
      </div>
      
      <div class="form-item">
        <label for="Manteca">Manteca:</label>
        <input type="checkbox" name="Manteca" id="Manteca">
      </div>

      <div class="form-item">
        <label for="Margarina">Margarina:</label>
        <input type="checkbox" name="Margarina" id="Margarina">
      </div>
      
      <div class="form-item">
        <label for="Cremas">Cremas:</label>
        <input type="checkbox" name="Cremas" id="Cremas">
      </div>
      
      <div class="form-item">
        <label for="Mayonesa">Mayonesa:</label>
        <input type="checkbox" name="Mayonesa" id="Mayonesa">
      </div>
      
      <div class="form-item">
        <label for="Caldos">Caldos:</label>
        <input type="checkbox" name="Caldos" id="Caldos">
      </div>
      
      <div class="form-item">
        <label for="Bebidas">Bebidas:</label>
        <input type="checkbox" name="Bebidas" id="Bebidas">
      </div>


      <!-- Repetir para los demás… -->
      
      <div class="favoritosInput">
        <h3>Favoritos</h3>
        <input type="text" name="Favoritos">
      </div>

      <div class="aclaracioneInput">
        <h3>Aclaraciones</h3>
        <input type="text" name="Aclaraciones">
      </div>

      

      <button type="submit">Guardar</button>
  </form>
</div>

    

</body>
</html>