<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Registrarse</title>
  <link rel="stylesheet" href="../static/styles/style.css">
  
</head>
<body>
  <div class="formHeader">
    <header>
      <h1>Registro</h1>
    </header>
  </div>

  <form action="{{ url_for('confirmacion') }}" method="POST" class="form">

    <!-- Sección 1: Datos del tutor -->
    <div class="formularioRegistro" id="tutor">
      <h2>Datos del tutor</h2>
      
      <label>Nombre</label>
      <input type="text" name="nombre_tutor" required>

      <label>Apellido</label>
      <input type="text" name="apellido_tutor" required>

      <label>Fecha de nacimiento</label>
      <input type="date" name="fecha_tutor" required>

      <label>Sexo</label>
      <select name="sexo_tutor">
        <option> - </option>
        <option>Femenino</option>
        <option>Masculino</option>
        <option>Otro</option>
      </select>

      <label>Email</label>
      <input type="email" name="email_tutor" required>
      
      <label>Contraseña</label>
      <input type="password" name="contraseña_tutor" required>

      <label>Repita su contraseña</label>
      <input type="password" name="contraseña2_tutor" required>

      <label>Teléfono</label>
      <input type="tel" name="telefono_tutor" required>

      <button type="button" onclick="mostrarPaciente()">Siguiente</button>
    </div>

    <!-- Sección 2: Datos del paciente -->
    <div class="datosdelpaciente" id="paciente">
      <h2>Datos del paciente</h2>
      
      <label>Nombre</label>
      <input type="text" name="nombre_paciente" required>

      <label>Apellido</label>
      <input type="text" name="apellido_paciente" required>

      <label>Fecha de nacimiento</label>
      <input type="date" name="fecha_paciente" required>

      <label>Sexo</label>
      <select name="sexo_paciente">
        <option> - </option>
        <option>Femenino</option>
        <option>Masculino</option>
        <option>Otro</option>
      </select>

      <button type="button" onclick="mostrarTutor()">Volver</button>
      <button type="submit">Registrarse</button>
    </div>

  </form>

  <script src="../static/Script/script.js"> </script>
</body>
</html>
