<!DOCTYPE html>

<html lang="es">

    <head>
        <meta charset="utf-8">
        <title>NUTRIKids</title>
        <link rel="stylesheet" href="../static/styles/style.css">

    </head>

    <div>
        <div class="header">
            <ol>
                <div class="logo"><img src="../static/Images/Logo.png"  alt="Logo" width="80" height="80"> <h1>NutriKids</h1></h1></div>
                <div class="slogan"><h6>infancias bien nutridas</h6></div>
                <button class="inicioSecion" onclick="location.href='login.html'">
                    <p>Iniciar sesión</p>
                </button>
                <button class="Registrarse" onclick="location.href='formulario.html'">
                    <p>Registrarse</p>
                    
                </button>
            </ul>
        </div>

    </div>

    <div class="CardNosotros">
        <h2>
            Hace tu consulta con tu Nutricionista de confianza.
        </h2>
        <img src="../static/Images/pexels-alex-green-5692220.jpg">
        <p>Incididunt aliqua aute sit cillum. Proident irure commodo veniam cupidatat cillum non minim. Dolor magna id sunt officia nostrud voluptate consectetur do. Veniam ut reprehenderit exercitation minim pariatur laboris. Cillum anim consectetur voluptate commodo aliquip dolore. Nisi pariatur adipisicing pariatur nulla.</p>
    </div>

</html>