
<html lang="es">

    <head>
        <meta charset="utf-8">
        <title>Log in</title>
        <link rel="stylesheet" href="../static/styles/style.css">

    </head>

    <body>
        <div class="cardInicioSecion">
            <label>
                Usuario
            </label>
            <input type="email" name="User" required>

            <label>
                Contraseña
            </label>
            <input type="password" name="Contraseña" required>

            <button class="inicioSecion" onclick="location.href='{{ url_for('home') }}'">
                <p>Iniciar sesión</p>
            </button>
        </div>

    </body>
