<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Bienvenido/a a NutriKids!</title>
  <link rel="stylesheet" href="../static/styles/style.css">
</head>

<body class="principalBody">
  <!-- Header -->
  <header class="HeaderInicio">
    <div class="logo-container">
      <img src="../static/Images/Logo.png" alt="Logo Nutrikids" width="70" height="70">
      <div class="logo-text">
        <h1>NutriKids</h1>
        <p>Infancias bien nutridas</p>
      </div>
    </div>

    <div class="IconoUsuario">
      <img src="../static/Images/e622dea4-83a5-4591-9097-54ee670559da.png" alt="Usuario">
    </div>
  </header>

  <!-- Contenido principal -->
  <main class="contenedorPrincipal" id="contenedorPrincipal">
    <!-- Se llenará dinámicamente -->
  </main>

  <script src="../Script/paginaPrincipal.js"></script>
</body>
</html>

