<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Bienvenido/a a NutriKids!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body class="principalBody">
  <header class="HeaderInicio">
    <div class="logo-container">
      <img src="{{ url_for('static', filename='Images/Logo.png') }}" width="70" height="70">
      <div class="logo-text">
        <h1>NutriKids</h1>
        <p>Infancias bien nutridas</p>
      </div>
    </div>

    <div class="IconoUsuario">
      <img src="{{ url_for('static', filename='Images/e622dea4-83a5-4591-9097-54ee670559da.png') }}">
    </div>
  </header>

  <main>
    <div class="contenedorTarjetas" id="contenedorPrincipal"></div>
  </main>

  <script>
    const tipoUsuario = "{{ tipoUsuario }}";
  </script>

  <!-- 🟢 SCRIPT CORRECTO -->
  <script src="{{ url_for('static', filename='Script/paginaPrincipal.js') }}"></script>
</body>
</html>

